09.2
10/31

In [1]:
import pandas as pd
import pickle
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# Load the datasets using Pandas
weather_data = pd.read_csv("weather_historic_data.csv")
station_data = pd.read_csv("station_historic_availability_data.csv")

In [3]:
weather_data.dtypes

Unnamed: 0       int64
time            object
temperature    float64
windspeed      float64
pressure       float64
description     object
cloudiness       int64
dtype: object

In [4]:
station_data

,Unnamed: 0,number,available_bikes,available_bike_stands,last_update
0,0,42,19,11,2023-03-03 21:36:02
1,1,30,9,11,2023-03-03 21:38:10
2,2,54,5,28,2023-03-03 21:37:09
3,3,108,12,23,2023-03-03 21:33:44
4,4,20,10,20,2023-03-03 21:33:42
...,...,...,...,...,...
899465,899465,39,20,0,2023-03-31 09:46:58
899466,899466,83,17,23,2023-03-31 09:53:02
899467,899467,92,39,1,2023-03-31 09:49:59
899468,899468,21,25,5,2023-03-31 09:53:43
899469,899469,88,4,26,2023-03-31 09:52:34

In [5]:
weather_data

,Unnamed: 0,time,temperature,windspeed,pressure,description,cloudiness
0,0,2023-03-03 21:38:52,5.20,2.06,1033.0,light intensity drizzle,75
1,1,2023-03-03 22:10:54,4.78,2.06,1033.0,broken clouds,75
2,2,2023-03-03 22:32:40,4.93,3.60,1033.0,broken clouds,75
3,3,2023-03-03 23:07:44,4.98,3.60,1033.0,broken clouds,75
4,4,2023-03-03 23:37:27,5.14,2.68,1033.0,broken clouds,75
...,...,...,...,...,...,...,...
1316,1316,2023-03-31 07:35:42,9.59,3.60,986.0,mist,75
1317,1317,2023-03-31 08:06:16,9.59,3.60,987.0,broken clouds,75
1318,1318,2023-03-31 08:45:17,9.78,3.60,988.0,light intensity drizzle,75
1319,1319,2023-03-31 09:08:07,9.78,3.60,989.0,light intensity drizzle,75
1320,1320,2023-03-31 09:43:17,9.86,2.57,989.0,mist,75

In [6]:
weather_data = weather_data.drop(columns=['Unnamed: 0'])
station_data = station_data.drop(columns=['Unnamed: 0'])

In [7]:
# Preprocess the data
weather_data['time'] = pd.to_datetime(weather_data['time'])
station_data['last_update'] = pd.to_datetime(station_data['last_update'])

In [8]:
# Extract day and hour
weather_data['year'] = weather_data['time'].dt.year
weather_data['month'] = weather_data['time'].dt.month
weather_data['day'] = weather_data['time'].dt.day
weather_data['hour'] = weather_data['time'].dt.hour
weather_data['minute'] = weather_data['time'].dt.minute
weather_data['is_weekday'] = ((weather_data['time'].dt.weekday >= 0) & (weather_data['time'].dt.weekday <= 4)).astype(int)


station_data['year'] = station_data['last_update'].dt.year
station_data['month'] = station_data['last_update'].dt.month
station_data['day'] = station_data['last_update'].dt.day
station_data['hour'] = station_data['last_update'].dt.hour
station_data['minute'] = station_data['last_update'].dt.minute

In [9]:
weather_data

,time,temperature,windspeed,pressure,description,cloudiness,year,month,day,hour,minute,is_weekday
0,2023-03-03 21:38:52,5.20,2.06,1033.0,light intensity drizzle,75,2023,3,3,21,38,1
1,2023-03-03 22:10:54,4.78,2.06,1033.0,broken clouds,75,2023,3,3,22,10,1
2,2023-03-03 22:32:40,4.93,3.60,1033.0,broken clouds,75,2023,3,3,22,32,1
3,2023-03-03 23:07:44,4.98,3.60,1033.0,broken clouds,75,2023,3,3,23,7,1
4,2023-03-03 23:37:27,5.14,2.68,1033.0,broken clouds,75,2023,3,3,23,37,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2023-03-31 07:35:42,9.59,3.60,986.0,mist,75,2023,3,31,7,35,1
1317,2023-03-31 08:06:16,9.59,3.60,987.0,broken clouds,75,2023,3,31,8,6,1
1318,2023-03-31 08:45:17,9.78,3.60,988.0,light intensity drizzle,75,2023,3,31,8,45,1
1319,2023-03-31 09:08:07,9.78,3.60,989.0,light intensity drizzle,75,2023,3,31,9,8,1
1320,2023-03-31 09:43:17,9.86,2.57,989.0,mist,75,2023,3,31,9,43,1

In [10]:
# One-hot encode the 'description' column
weather_data = pd.get_dummies(weather_data, columns= ['description'])

In [11]:
weather_data

,time,temperature,windspeed,pressure,cloudiness,year,month,day,hour,minute,...,description_light intensity shower rain,description_light rain,description_light snow,description_mist,description_moderate rain,description_overcast clouds,description_scattered clouds,description_shower rain,description_sleet,description_snow
0,2023-03-03 21:38:52,5.20,2.06,1033.0,75,2023,3,3,21,38,...,0,0,0,0,0,0,0,0,0,0
1,2023-03-03 22:10:54,4.78,2.06,1033.0,75,2023,3,3,22,10,...,0,0,0,0,0,0,0,0,0,0
2,2023-03-03 22:32:40,4.93,3.60,1033.0,75,2023,3,3,22,32,...,0,0,0,0,0,0,0,0,0,0
3,2023-03-03 23:07:44,4.98,3.60,1033.0,75,2023,3,3,23,7,...,0,0,0,0,0,0,0,0,0,0
4,2023-03-03 23:37:27,5.14,2.68,1033.0,75,2023,3,3,23,37,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1316,2023-03-31 07:35:42,9.59,3.60,986.0,75,2023,3,31,7,35,...,0,0,0,1,0,0,0,0,0,0
1317,2023-03-31 08:06:16,9.59,3.60,987.0,75,2023,3,31,8,6,...,0,0,0,0,0,0,0,0,0,0
1318,2023-03-31 08:45:17,9.78,3.60,988.0,75,2023,3,31,8,45,...,0,0,0,0,0,0,0,0,0,0
1319,2023-03-31 09:08:07,9.78,3.60,989.0,75,2023,3,31,9,8,...,0,0,0,0,0,0,0,0,0,0
1320,2023-03-31 09:43:17,9.86,2.57,989.0,75,2023,3,31,9,43,...,0,0,0,1,0,0,0,0,0,0

In [12]:
# Merge the datasets
merged_data = pd.merge(station_data, weather_data, on = ['year','month','day','hour'])

In [13]:
# Drop every redundent columns
merged_data = merged_data.drop(columns=['last_update', 'time'])

In [14]:
merged_data.head(10)

,number,available_bikes,available_bike_stands,year,month,day,hour,minute_x,temperature,windspeed,...,description_light intensity shower rain,description_light rain,description_light snow,description_mist,description_moderate rain,description_overcast clouds,description_scattered clouds,description_shower rain,description_sleet,description_snow
0,42,19,11,2023,3,3,21,36,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
1,30,9,11,2023,3,3,21,38,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
2,54,5,28,2023,3,3,21,37,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
3,108,12,23,2023,3,3,21,33,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
4,20,10,20,2023,3,3,21,33,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
5,56,7,33,2023,3,3,21,33,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
6,6,4,16,2023,3,3,21,36,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
7,18,15,15,2023,3,3,21,36,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
8,32,5,25,2023,3,3,21,34,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0
9,52,2,30,2023,3,3,21,36,5.2,2.06,...,0,0,0,0,0,0,0,0,0,0

In [15]:
# Engineer is_busy_hours feature
merged_data['is_busy_hours'] = ((merged_data['hour'] >= 7) & (merged_data['hour'] <= 10)) | ((merged_data['hour'] >= 16) & (merged_data['hour'] <= 19)).astype(int)

In [16]:
merged_data['cold_weather'] = (merged_data['temperature'] < 5).astype(float)
merged_data['windy_weather'] = (merged_data['windspeed'] > 8).astype(float)

In [17]:
unique_stations = list(merged_data['number'].unique())
unique_stations.sort()

In [18]:
for station_id in unique_stations:
    station_data = merged_data[merged_data['number'] == station_id]
    
    # Split the data into training and testing sets
    X = station_data.drop(columns=['available_bikes', 'available_bike_stands'])
    y = station_data[['available_bikes', 'available_bike_stands']]

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Train a machine learning model
    model = LinearRegression()
    model.fit(X_train, y_train)

    # Serialize the trained model into a file called model.pkl
    with open(f'model_{station_id}.pkl', 'wb') as handle:
        pickle.dump(model, handle, pickle.HIGHEST_PROTOCOL)

    # Deserialize the model.pkl file into an object called model
    with open(f'model_{station_id}.pkl', 'rb') as handle:
        model = pickle.load(handle)

    # Evaluate the model
    y_pred = model.predict(X_test)
    mse = mean_squared_error(y_test, y_pred)
    print(f"Mean Squared Error for station {station_id}:", mse)

Mean Squared Error for station 1: 68.94377391210094
Mean Squared Error for station 2: 16.642888098344983
Mean Squared Error for station 3: 19.663044561804043
Mean Squared Error for station 4: 32.12354297780233
Mean Squared Error for station 5: 162.63171060991107
Mean Squared Error for station 6: 26.61074504078045
Mean Squared Error for station 7: 43.30269957230313
Mean Squared Error for station 8: 57.70656586491853
Mean Squared Error for station 9: 39.612964148440625
Mean Squared Error for station 10: 19.984017630241425
Mean Squared Error for station 11: 23.044710878267406
Mean Squared Error for station 12: 15.120987340188016
Mean Squared Error for station 13: 29.66427138073593
Mean Squared Error for station 14: 52.54660209590346
Mean Squared Error for station 15: 7.897808035658631
Mean Squared Error for station 16: 28.403724510196895
Mean Squared Error for station 17: 16.05364063318827
Mean Squared Error for station 18: 41.39162234042553
Mean Squared Error for station 19: 78.79774733624396
Mean Squared Error for station 20: 44.522309311541996
Mean Squared Error for station 21: 71.1259128445472
Mean Squared Error for station 22: 24.229088221898195
Mean Squared Error for station 23: 69.8360963310038
Mean Squared Error for station 24: 27.43777795425667
Mean Squared Error for station 25: 31.815862400336076
Mean Squared Error for station 26: 23.84042216672195
Mean Squared Error for station 27: 26.37308558632715
Mean Squared Error for station 28: 34.764265565210756
Mean Squared Error for station 29: 49.71477671709452
Mean Squared Error for station 30: 22.2396793552479
Mean Squared Error for station 31: 28.475989839779224
Mean Squared Error for station 32: 50.831104251297134
Mean Squared Error for station 33: 31.933909523194348
Mean Squared Error for station 34: 81.1772572495403
Mean Squared Error for station 35: 39.56679704990782
Mean Squared Error for station 36: 58.874695752623516
Mean Squared Error for station 37: 16.879608518561326
Mean Squared Error for station 38: 74.25707183849798
Mean Squared Error for station 39: 24.225068848137546
Mean Squared Error for station 40: 23.31798219983464
Mean Squared Error for station 41: 23.82453857906262
Mean Squared Error for station 42: 50.52149931434567
Mean Squared Error for station 43: 93.51063829787233
Mean Squared Error for station 44: 53.57095451063522
Mean Squared Error for station 45: 64.85249285487455
Mean Squared Error for station 47: 75.51261517344165
Mean Squared Error for station 48: 53.964216542060726
Mean Squared Error for station 49: 90.20041000057864
Mean Squared Error for station 50: 111.87977258473393
Mean Squared Error for station 51: 58.053594885670066
Mean Squared Error for station 52: 37.32947869754406
Mean Squared Error for station 53: 45.77176819981159
Mean Squared Error for station 54: 26.351346938020164
Mean Squared Error for station 55: 22.956040574679047
Mean Squared Error for station 56: 88.18068991673357
Mean Squared Error for station 57: 27.068055155212775
Mean Squared Error for station 58: 125.00381073356621
Mean Squared Error for station 59: 20.865354080660527
Mean Squared Error for station 60: 65.72097363405337
Mean Squared Error for station 61: 13.398936477062655
Mean Squared Error for station 62: 45.13230787120435
Mean Squared Error for station 63: 35.545409802955504
Mean Squared Error for station 64: 58.73229596697364
Mean Squared Error for station 65: 154.57613528104162
Mean Squared Error for station 66: 77.98546696315121
Mean Squared Error for station 67: 63.477204152693545
Mean Squared Error for station 68: 92.73118346508842
Mean Squared Error for station 69: 107.94806226175349
Mean Squared Error for station 71: 42.018112150477215
Mean Squared Error for station 72: 32.95185128233334
Mean Squared Error for station 73: 36.23328684695347
Mean Squared Error for station 74: 32.76978438691232
Mean Squared Error for station 75: 62.453641411163126
Mean Squared Error for station 76: 49.86851066362422
Mean Squared Error for station 77: 47.32819254746552
Mean Squared Error for station 78: 52.585063929479034
Mean Squared Error for station 79: 22.317198953253794
Mean Squared Error for station 80: 32.958467566742435
Mean Squared Error for station 82: 5.253400668666343
Mean Squared Error for station 83: 74.62851770850605
Mean Squared Error for station 84: 41.72623648706427
Mean Squared Error for station 85: 66.39358140195901
Mean Squared Error for station 86: 112.06942083984387
Mean Squared Error for station 87: 77.84198926613945
Mean Squared Error for station 88: 41.48503399533375
Mean Squared Error for station 89: 8.569168672314337
Mean Squared Error for station 90: 108.07012602555048
Mean Squared Error for station 91: 50.53501263876614
Mean Squared Error for station 92: 124.52392888341805
Mean Squared Error for station 93: 147.37213521519521
Mean Squared Error for station 94: 26.47325671752742
Mean Squared Error for station 95: 67.97638674462968
Mean Squared Error for station 96: 24.44553826611623
Mean Squared Error for station 97: 87.08337366471213
Mean Squared Error for station 98: 93.18921267082264
Mean Squared Error for station 99: 26.74667693041519
Mean Squared Error for station 100: 68.92105106416773
Mean Squared Error for station 101: 48.6363002351799
Mean Squared Error for station 102: 32.086359016660786
Mean Squared Error for station 103: 22.667831243225756
Mean Squared Error for station 104: 41.59550989951815
Mean Squared Error for station 105: 42.89742032148058
Mean Squared Error for station 106: 53.599716882081765
Mean Squared Error for station 107: 49.52896430831
Mean Squared Error for station 108: 41.82328883629236
Mean Squared Error for station 109: 56.708723706045944
Mean Squared Error for station 110: 33.9387043570693
Mean Squared Error for station 111: 20.644496505717918
Mean Squared Error for station 112: 66.30912943811578
Mean Squared Error for station 113: 29.746064345937253
Mean Squared Error for station 114: 116.74552598113858
Mean Squared Error for station 115: 75.84658399944132
Mean Squared Error for station 116: 3.313746422036933
Mean Squared Error for station 117: 75.49320597846214

In [19]:
print(X.columns)

Index(['number', 'year', 'month', 'day', 'hour', 'minute_x', 'temperature',
       'windspeed', 'pressure', 'cloudiness', 'minute_y', 'is_weekday',
       'description_broken clouds', 'description_clear sky',
       'description_few clouds', 'description_fog',
       'description_heavy intensity rain',
       'description_light intensity drizzle',
       'description_light intensity drizzle rain',
       'description_light intensity shower rain', 'description_light rain',
       'description_light snow', 'description_mist',
       'description_moderate rain', 'description_overcast clouds',
       'description_scattered clouds', 'description_shower rain',
       'description_sleet', 'description_snow', 'is_busy_hours',
       'cold_weather', 'windy_weather'],
      dtype='object')

This code is training a separate Linear Regression model for each bike station and predicting the number of available bikes (available_bikes) 
and available bike stands (available_bike_stands) for each station.
The predictions are made using the testing data (X_test), which contains information about the weather, time, and bike station details. After making predictions, the code calculates the mean squared error (MSE) for each station's model to evaluate its performance. The MSE is a measure of how well the model's predictions match the true values from the testing data.

In [24]:
import time
import datetime
import requests
import json

def get_future_weather_data(day_from_today, hour, minute):
    #get today's date
    today = datetime.date.today()
    date_time = datetime.datetime(today.year, today.month, today.day + day_from_today, hour, minute)
    time_unix_timestamp = time.mktime(date_time.timetuple())
    api_call = f"https://api.openweathermap.org/data/2.5/forecast?lat=53.35&lon=-6.26&appid=b7d6a55bc0fff59fb0d5f7c3c1668417&units=metric&dt={time_unix_timestamp}"
    forecast_info = requests.get(api_call)
    forecast_info_json = json.loads(forecast_info)
    print(forecast_info_json)
#     weather_data = {
#         'temperature': 12,
#         'windspeed': 5,
#         'pressure': 1015,
#         'cloudiness': 20,
#         'description': 'broken clouds',
#     }
    
#     # Convert the dictionary to a DataFrame
#     future_weather_data = pd.DataFrame(weather_data, index=[0])
    
#     # One-hot encode the 'description' column
#     future_weather_data = pd.get_dummies(future_weather_data, columns=['description'])
    
#     return future_weather_data

In [32]:
today = datetime.date.today()
date_time = datetime.datetime(today.year, today.month, today.day + 1, 12, 30)
time_unix_timestamp = time.mktime(date_time.timetuple())

In [34]:
int(time_unix_timestamp)

1680953400

In [21]:
def predict_for_future_date(station_id, future_date):
    # Load the model
    with open(f'model_{station_id}.pkl', 'rb') as handle:
        model = pickle.load(handle)

    # Get future weather data
    future_weather_data = get_future_weather_data(future_date)

    # Preprocess future_weather_data and make the prediction
    future_date = pd.to_datetime(future_date)
    day = future_date.day
    hour = future_date.hour
    year = future_date.year
    month = future_date.month
    is_weekday = int((future_date.weekday() >= 0) & (future_date.weekday() <= 4))
    is_busy_hours = int(((hour >= 7) & (hour <= 10)) | ((hour >= 16) & (hour <= 19)))
    cold_weather = (future_weather_data['temperature'][0] < 5).astype(float)
    windy_weather = (future_weather_data['windspeed'][0] > 8).astype(float)

    # Create input DataFrame
    input_df = future_weather_data.copy()
    input_df['year'] = year
    input_df['month'] = month
    input_df['day'] = day
    input_df['hour'] = hour
    input_df['number'] = station_id
    input_df['is_weekday'] = is_weekday
    input_df['is_busy_hours'] = is_busy_hours
    input_df['cold_weather'] = cold_weather
    input_df['windy_weather'] = windy_weather

    # Make sure the input DataFrame has the same columns as the training data
    for col in X.columns:
        if col not in input_df.columns:
            input_df[col] = 0

    # Reorder the columns to match the training data
    input_df = input_df[X.columns]

     # Make the prediction
    prediction = model.predict(input_df)

    available_bikes, available_bike_stands = prediction[0]

    # Ensure available_bikes is greater than 0
    available_bikes = max(0, available_bikes)

    # Ensure available_bike_stands is greater than 0 and less than or equal to 114
    available_bike_stands = max(0, min(available_bike_stands, 114))

    return int(available_bikes), int(available_bike_stands)

In [22]:
station_id = 42
future_date = "2023-04-01 13:00:00"
available_bikes, available_bike_stands = predict_for_future_date(station_id, future_date)
print("Predicted available bikes:", available_bikes)
print("Predicted available bike stands:", available_bike_stands)

Predicted available bikes: 20
Predicted available bike stands: 9